*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(241, 246, 218), rgb(222, 242, 250));
    
}
.btn{
    background-color: darkorange;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.btn:hover{
padding:7px 12px;
transition: width .35s ease-in-out;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content:space-between;
}
.navbar-right{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(45, 2, 45);
    color: white;
}
.header-text{
    width: 50%;
    
}
/* features section start  */
.features-section{
    padding: 30px;
    background-color: rgb(251, 241, 243);
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.card{
    width: 40%;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
/* features section end */
/* galary section start  */
.galary-container{
    text-align: center;
    margin: 40px;
}
.galary{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    /* grid-template-rows: repeat(3,1fr); */
}
.galary img{
    border: 2px solid gray;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
/* galary section end */


@media (max-width:576px){
    .container{
        flex-direction: column-reverse;
    }
    .header-text{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 5%;
    }
    .header-img img{
        display: block;
        margin: auto;
    }
    .card{
        width: 90%;
    }
    .galary{
        grid-template-columns: 1fr;
    }
}
@media (max-width:850px){
    .header-text{
        width: 70%;
        text-align: center;
        padding: 5%;
    }
    .card{
        width: 80%;
    }

}