*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
    
}
.btn{
    background-color: darkorange;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.btn:hover{
padding:7px 12px;
transition: width .35s ease-in-out;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content:space-between;
}
.navbar-right{
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(45, 2, 45);
    color: white;
}
.header-text{
    width: 50%;
    
}
/* features section start  */
.features-section{
    padding: 30px;
    background-color: rgb(251, 241, 243);
}
.card-container{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 30%;
    height: 200px;
    background-color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


/* galary section start  */
.galary-container{
    text-align: center;
}
/* galary section end */

/* features section end */
@media (max-width:576px){
    .container{
        flex-direction: column-reverse;
    }
    .header-text{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 5%;
    }
    .header-img img{
        display: block;
        margin: auto;
    }
}
@media (max-width:720px){
    .header-text{
        width: 70%;
        text-align: center;
        padding: 5%;
    }
}