*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(45, 2, 45);
    color: white;
}
.btn{
    background-color: darkorange;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.btn:hover{
padding:7px 12px;
transition: width .35s ease-in-out;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content:space-between;
}
.navbar-right{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.navbar-right img{
    filter: invert();
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-text{
    width: 50%;
    
}